<div class="card mb-3">
  <h3 class="card-header">Welcome to Soapbox!</h3>
  <div class="card-body">
    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="yourName" class="form-label">What's your name?</label>
        <input type="text" class="form-control" id="yourName" name="yourName" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>