<%= displayName %>

<div class="row">
  <div class="col">
    <div id="videoRoot"></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <a href="<%= participantUrl %>" target="_blank" class="btn btn-sm btn-secondary">Participant URL</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <h5>Participants</h5>
    <ul class="list-group" id="participantList">
    </ul>
  </div>

  <div class="col">
    <h5>Room Controls</h5>
    <div>
      <button type="button" id="hangupBtn" onclick="hangupCall()" class="btn btn-danger">Hangup</button>
    </div>
  </div>
</div>
<template id="participantTpl">
  <li class="list-group-item d-flex">
    <div class="participantName flex-grow-1"></div>
  </li>
</template>

<script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://unpkg.com/@signalwire/js"></script>
<script>
  var TOKEN = "<%= token %>";
  var USER = "<%= user %>";
</script>
<script src="/utility.js"></script>
<script src="/participant.js"></script>